<div style="background-color: #ccc; width: 100%; height: 100%;">
    <div style="max-width: 760px; margin: 0 auto; font-family: Arial, Helvetica, sans-serif;">
      <div
        style="height: 70px; display: flex; align-items: center; justify-content: space-between; background-color: #4C33CC; padding: 5px 10px">
        <img src="https://gui10l1-github-projects.s3.amazonaws.com/fastfeet.png" alt="FastFeet Brand">

        <b style="font-size: 20px; color: #fff;">
          Delivery delivered
        </b>
      </div>

      <div style="background-color: #F7F5FA; padding: 5px 10px; color: #4C4766;">
        <h1 style="font-size: 25px;">Hello {{ clientName }},</h1>

        <span style="color: #6F6C80">Your delivery was delivered today ({{ date }})</span>

        <p>
          Thanks for choosing FastFeet, and we hope that we could be chosen one more time!
        </p>

        <p style="line-height: 28px;">
          With love, <br>
          FastFeet support.
        </p>
      </div>
    </div>
  </div>
