<div style="background-color: #ccc; width: 100%">
  <div style="max-width: 760px; margin: 0 auto; font-family: Arial, Helvetica, sans-serif;">
    <div style="height: 70px; display: flex; align-items: center; justify-content: space-between; background-color: #4C33CC; padding: 5px 10px">
      <img src="https://gui10l1-github-projects.s3.amazonaws.com/fastfeet.png" alt="FastFeet Brand">

      <b style="font-size: 20px; color: #fff;">
        Verify your new {{ accountType }} account!
      </b>
    </div>

    <div style="background-color: #F7F5FA; padding: 5px 10px; color: #4C4766;">
      <h1 style="font-size: 25px;">Hello {{ userName }}!</h1>

      <span style="color: #6F6C80">Welcome to our platform, we are so happy to have you with us!</span>

      <p>
        To guarantee the safety of your information you need to verify your email account.
      </p>

      <p>
        To verify your account click the button below:
      </p>

      <a href="" style="height: 56px; background-color: #FFC042; border-radius: 4px; border: 0; color: #4C4766; text-decoration: none; max-width: 310px; display: flex; align-items: center; justify-content: center; margin: 0 auto; font-weight: bold;">
        Verify your account
      </a>

      <p style="line-height: 28px;">
        With love, <br>
        FastFeet support.
      </p>
    </div>
  </div>
</div>
